:root{
    font-family: "Roboto", serif;
    --frame-border: 1.5px solid black 
}

.header-box{
    display:flex;
    align-items:center;

}

.header-text-box{height:75px;}

.header-text{
    font-size:48px;
    padding:0px;
    
}

.subheader-text{
    margin-left:3px;
}



.grid-container{
    display:grid;
    height: 1000px;
margin-top:20px;
    grid-template-columns: minmax(250px,1fr) 6fr;
    grid-template-rows:1fr;
    grid-template-areas: "sidebar display display"
    "sidebar display display"
    "sidebar display display"
                        ;

}

.complete-todo{
    text-decoration: line-through;
    background-color:#dbfcdd;
}

.incomplete-todo{
    background-color:#f8cece
}

.todo-grid{
    display:grid;
    width:600px;
    grid-template-columns: repeat(4, minmax(315px,500px));
    margin-left:50px;
    gap:35px;
}

.todo-card{
    display:flex;
    flex-direction:column;
    border: var(--frame-border);
    border-radius:15px;
    width:275px;
    padding:20px;
}

.todo-name, .todo-description,.todo-priority,.todo-status{
    margin-bottom:7.5px;
}

.todo-duedate{margin-bottom:20px;}

.todo-actions{
    text-align:right;
    
}
.todo-actions>.small-icon{
    margin-right:5px;
}

.project-sidebar{
    grid-area: sidebar;
    border-top:var(--frame-border);
    border-bottom:var(--frame-border);
    border-right:var(--frame-border);
}

.project-sidebar-header, .projects-display-header, .sidebar-header-icon, .display-header-icon, .project-card{display:flex;
justify-content:space-between;
align-items:center;
margin-right:10px;
}

.icon:first-child{
    margin-right:10px;
}

.project-icon>.small-icon{
    margin-left:5px;
    margin-right:5px;
}


.project-display{
    grid-area:display;
    border-top:var(--frame-border);
    border-bottom:var(--frame-border);
}

.projects-header-text, .projects-display-header{
    padding:20px;
    font-size:36px;
    margin:20px 0px;
    font-weight:500;
}

.projects-display-header{
    margin-left:30px;
}

.project-card{
    display:flex;
    align-items:center;
    font-size:20px;
    margin-left:20px;
    margin-bottom:30px;
}

.project-card-text{
    width:225px;
    overflow-wrap: break-word;
}

.icon{
    height:50px;

}
.project-icon{
    display:flex;
    justify-content: center;
    align-items:center;
}
.small-icon{
    height:25px;
}

.new-project-modal{
 position:fixed;
 top:0;
 left:0;
 height:100vh;
 width:100vw;   
 background-color:rgba(0,0,0,0.3);
 display:flex;
 align-items:center;
 justify-content:center;
 opacity:0;
 pointer-events:none;
 
}

.new-project-modal.show{
    opacity:1;
    pointer-events:auto;
}



.new-project-modal-card{

    height:200px;
    width:600px;
    background-color:white;
    border-radius: 10px;
    max-width:100%;
    padding:30px;
    box-shadow:0 2px 4px rgba(0,0,0,0.2)
    
}

.new-project-modal-heading{
    font-size:30px;
    font-weight:700;
    margin-bottom:30px;
}

.rename-project-modal{
    position:fixed;
    top:0;
    left:0;
    height:100vh;
    width:100vw;   
    background-color:rgba(0,0,0,0.3);
    display:flex;
    align-items:center;
    justify-content:center;
    opacity:0;
    pointer-events:none;
    
   }
   
   .rename-project-modal.show{
       opacity:1;
       pointer-events:auto;
   }
   
   
   
   .rename-project-modal-card{
   
       height:200px;
       width:600px;
       background-color:white;
       border-radius: 10px;
       max-width:100%;
       padding:30px;
       box-shadow:0 2px 4px rgba(0,0,0,0.2)
       
   }
   
   .rename-project-modal-heading{
       font-size:30px;
       font-weight:700;
       margin-bottom:30px;
   }

   .rename-project-header{
    display:flex;
    justify-content:space-between;
    margin-bottom:30px;
}
.project-input-box>label{
    font-size:24px;
    font-weight:500;
    margin-right:20px;
}

.rename-label{
    margin-right:20px;
}

.new-project-header{
    display:flex;
    justify-content:space-between;
    margin-bottom:30px;
}
.new-project-top-icon, .new-project-bottom-icon{
    text-align:right;
}
.new-project-bottom-icon>.medium-icon{
    margin-top:25px
}
.medium-icon{
    height:45px;
    
}

.project-input-box{
    display:flex;
    align-items:center;
}

#project-input,#rename-input, #name-input, #description-input, #edit-name-input, #edit-description-input{
    height:30px;
    width:350px;
}


.new-todo-modal, .edit-todo-modal{
    position:fixed;
    top:0;
    left:0;
    height:100vh;
    width:100vw;   
    background-color:rgba(0,0,0,0.3);
    display:flex;
    align-items:center;
    justify-content:center;
    opacity:0;
    pointer-events:none;
    
   }
   
   .new-todo-modal.show, .edit-todo-modal.show{
       opacity:1;
       pointer-events:auto;
   }
   
   
   
   .new-todo-modal-card, .edit-todo-modal-card{
    display:flex;
    flex-direction:column;
    
       height:400px;
       width:700px;
       background-color:white;
       border-radius: 10px;
       max-width:100%;
       padding:30px;
       box-shadow:0 2px 4px rgba(0,0,0,0.2)
       
   }
   
   .new-todo-modal-heading, .edit-todo-modal-heading{
       font-size:30px;
       font-weight:700;

   }

   .new-todo-header,.edit-todo-header{
    display:flex;
    justify-content:space-between;
    margin-bottom:30px;
}

.todo-name-label, .todo-description-label, .priority-selector-label, .status-selector-label, .date-selector-label, .edit-todo-name-label, .edit-todo-description-label, .edit-priority-selector-label, .edit-status-selector-label, .edit-date-selector-label{
    margin-right:20px;
}
#name-input, #description-input, #priority-selector, #status-selector, #due-date, #edit-name-input, #edit-description-input, #edit-priority-selector, #edit-status-selector, #edit-due-date{
    margin-bottom:20px;
    border-radius:5px;
    border:1px solid black
}


#priority-selector, #status-selector, #edit-priority-selector, #edit-status-selector{
    height:25px;
    width:150px;
    text-align: center;
    box-shadow:0 2px 4px rgba(0,0,0,0.2)
}


.new-todo-bottom-icon, .edit-todo-bottom-icon{
    margin-top:20px;
    text-align:right;}